<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="MyAuthNuget" value="http://bezysoftware-nuget.azurewebsites.net/nuget/" />
    <add key="MyAuthNuget" value="https://www.myget.org/F/reactiveui/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>